<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
  </head>
  <body>

    <h1>Hello world</h1>
    <form action="/" method="post">
      <label for="input-name">What's your name?</label>
      <input type="text" id="input-name" name="input-name" required>
      <button type="submit">Submit</button>
    </form>
    <h2>Click a button</h2>
    <div class="btns">
      <button>I've been clicked O times</button>
      <button>I've been clicked O times</button>
      <button>I've been clicked O times</button>
    </div>
  </body>
</html>